body {
  background-color: rgb(198, 255, 236);
}

.container {
  margin-top: 30px;
}
.card {
  width: 800px;
  display: block;
  margin: 0 auto;
}
#main-card {
  border-radius: 50%;
  padding: 80px;
}

.change-city {
  border-color: gray;
  text-align: center;
  padding: 2px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 0px;
  border-radius: 35px;
}
.current-temperature {
  font-size: 40px;
}
.city-text {
  text-align: center;
}
.current-temperature {
  text-align: center;
}
.city-name {
  text-align: center;
}
.units {
  text-align: center;
}
.condition {
  text-align: center;
  margin-top: 20px;
}
